// Put any @imports here
// See Readme for a list of supported ones
@import 'partials/variables';
// Bootstrap variable Overrides
$font-size-base: 18px; 
$brand-primary:         #428bca; // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

@import 'bootstrap';
@import 'font-awesome';
@import 'partials/mixins';

// Variable Declarations
$primary: #e2ebf3;
$secondary: #666;

@import 'partials/polar_styles';
@import 'partials/bootstrap';
@import 'partials/navbar';
@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/modal';
@import 'partials/footer';