// Put any @imports here
// See Readme for a list of supported ones
@import 'variables';
@import 'bootstrap';
@import 'font-awesome';

// Variable Declarations
$primary: #e2ebf3;
$secondary: #666;

$font-size-base: 18px;


//================================
//            _      _           
//  _ __ ___ (_)_  _(_)_ __  ___ 
// | '_ ` _ \| \ \/ / | '_ \/ __|
// | | | | | | |>  <| | | | \__ \
// |_| |_| |_|_/_/\_\_|_| |_|___/
//
//================================                          

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  -ms-transform: translateX(-50%) rotate(45deg);
  /* IE */
  -moz-transform: translateX(-50%) rotate(45deg);
  /* Firefox */
  -webkit-transform: translateX(-50%) rotate(45deg);
  /* Safari and Chrome */
}

@mixin align-y ($position: relative){
  position: $position;  
  top: 50%;  
  transform: translateY(-50%);
  -ms-transform:translateY(-50%); /* IE */
  -moz-transform:translateY(-50%); /* Firefox */
  -webkit-transform:translateY(-50%); /* Safari and Chrome */
  -o-transform:translateY(-50%);
}

@mixin align-x {
  left: 50%;  
  transform: translateX(-50%);
  -ms-transform:translateX(-50%); /* IE */
  -moz-transform:translateX(-50%); /* Firefox */
  -webkit-transform:translateX(-50%); /* Safari and Chrome */
  -o-transform:translateX(-50%);
}


@mixin chevron ($size, $color) {
  left: 50%;
  position: absolute;
  border-right: 4px solid $color;
  border-bottom: 4px solid $color;
  height: $size;
  width: $size;
  z-index: 99;
  border-color: $color;
  transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  /* IE */
  -moz-transform: translateX(-50%) rotate(45deg);
  /* Firefox */
  -webkit-transform: translateX(-50%) rotate(45deg);
  /* Safari and Chrome */
 
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin breakpoint($point) {
  @if $point == lg {
    @media (max-width: 991px) { @content; }
  }
  @else if $point == md {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 479px)  { @content; }
  }
  @else if $point == xs {
    @media (max-width: 320px)  { @content; }
  }
}