.modal-content {
  border-radius: 0px;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-header {
  background-color: #F2F2F2;
  font-size: 28px;
  padding: 40px;
  border-bottom: none;
}

.modal-body {
  color: #999;
  background-color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 40px;
}

.modal-footer {
  padding: 10px 40px 40px 40px;
  border: none;
  font-size: 22px;
}
